@page "/edificios"

@using UCR.ECCI.PI.ThemePark.Frontend.Blazor.Application.Services
@using UCR.ECCI.PI.ThemePark.Frontend.Blazor.Presentation.Models
@using UCR.ECCI.PI.ThemePark.Frontend.Blazor.Domain.Entities.UniversityManagement
@using UCR.ECCI.PI.ThemePark.Frontend.Blazor.Presentation.Components
@using MudBlazor

@inject IBuildingsServices BuildingsRepository
@inject NavigationManager NavigationManager

<Breadcrumbs />

<PageTitle>Administración de Edificios</PageTitle>

<MudPaper Class="pa-4">

    <div style="display: flex; justify-content: space-between; align-items: center;">
        <MudText Typo="Typo.h5">Administración de Edificios</MudText>
        <MudButton Variant="Variant.Outlined"
                   Color="Color.Primary"
                   Class="mr-2"
                   OnClick="@GoToAddBuilding">
            Agregar
        </MudButton>

    </div>

    @if (buildings == null)
    {
        <p><em>Cargando...</em></p>
    }
    else if (!buildings.Any())
    {
        <MudText>No se encontraron edificios!</MudText>
    }
    else
    {
        <MudTable Items="@buildings" Dense="true" Bordered="true" Hover="true" Elevation="0">
            <HeaderContent>
                <MudTh>Edificio</MudTh>
                <MudTh>Coordenadas</MudTh>
                <MudTh>Dimensiones</MudTh>
                <MudTh>Color</MudTh>
                <MudTh>Área</MudTh>
                <MudTh>Sede</MudTh>
                <MudTh>Universidad</MudTh>
                <MudTh>Espacios de Aprendizaje</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Edificio">
                    <MudLink Href="@($"/edificios/mostrar-edificio/{context.BuildingInternalId}")">@context.Name.Name</MudLink>
                </MudTd>
                <MudTd DataLabel="Coordenadas">@($"{context.BuildingCoordinates.X}, {context.BuildingCoordinates.Y},{context.BuildingCoordinates.Z}")</MudTd>
                <MudTd DataLabel="Dimensiones">@($"{context.Dimensions.Width}x{context.Dimensions.Length}x{context.Dimensions.Height}")</MudTd>
                <MudTd DataLabel="Color">@TranslateColor(context.Color.Value)</MudTd>
                <MudTd DataLabel="Área">@context.Area.Name.Name</MudTd>
                <MudTd DataLabel="Sede">@context.Area.Campus.Name.Name</MudTd>
                <MudTd DataLabel="Universidad">@context.Area.Campus.University.Name.Name</MudTd>
                <MudTd DataLabel="Espacios de Aprendizaje">
                    <MudLink href="@($"/edificios/{context.BuildingInternalId}/espacios-de-aprendizaje")">Ver</MudLink>
                </MudTd>
            </RowTemplate>
        </MudTable>
    }
</MudPaper>

@code {
    /// <summary>
    /// Collection of building entities to display.
    /// </summary>
    private IEnumerable<Building>? buildings;

    /// <summary>
    /// A dictionary to translate color names from English to Spanish.
    /// </summary>
    private readonly Dictionary<string, string> ColorTranslations = new()
    {
        { "Red", "Rojo" },
        { "Green", "Verde" },
        { "Blue", "Azul" },
        { "Yellow", "Amarillo" },
        { "Black", "Negro" },
        { "White", "Blanco" },
        { "Orange", "Naranja" },
        { "Purple", "Púrpura" },
        { "Gray", "Gris" },
        { "Brown", "Café" },
        { "Pink", "Rosado" },
        { "Cyan", "Cian" },
        { "Magenta", "Magenta" },
        { "Lime", "Lima" },
        { "Teal", "Turquesa" },
        { "Olive", "Olivo" },
        { "Navy", "Azul Marino" },
        { "Maroon", "Granate" },
        { "Silver", "Plata" },
        { "Gold", "Dorado" }
    };

    /// <summary>
    /// Used to translate color names from English to Spanish.
    /// </summary>
    /// <param name="englishColor">The value of the color in the database</param>
    /// <returns></returns>
    private string TranslateColor(string englishColor)
    {
        return ColorTranslations.TryGetValue(englishColor, out var spanish) ? spanish : englishColor;
    }


    /// <summary>
    /// Invoked when the component is initialized.
    /// Loads the list of buildings asynchronously from the repository.
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        buildings = await BuildingsRepository.ListBuildingAsync();
    }

    void GoToAddBuilding()
    {
        NavigationManager.NavigateTo("/edificios/agregar-edificio");
    }
}
