@page "/areas"

@using UCR.ECCI.PI.ThemePark.Frontend.Blazor.Application.Services
@using UCR.ECCI.PI.ThemePark.Frontend.Blazor.Presentation.Models
@using UCR.ECCI.PI.ThemePark.Frontend.Blazor.Domain.Entities.UniversityManagement
@using UCR.ECCI.PI.ThemePark.Frontend.Blazor.Presentation.Components
@using MudBlazor

@inject IAreaServices AreasRepository
@inject NavigationManager NavigationManager

<Breadcrumbs />

<PageTitle>Administraciˇn de Areas</PageTitle>

<MudPaper Class="pa-4">

    <div style="display: flex; justify-content: space-between; align-items: center;">
        <MudText Typo="Typo.h5">Administraciˇn de ┴reas</MudText>
        <MudButton Variant="Variant.Outlined"
                   Color="Color.Primary"
                   Class="mr-2"
                   OnClick="@GoToAddArea">
            Agregar
        </MudButton>

    </div>

    @if (areas == null)
    {
        <p><em>Cargando...</em></p>
    }
    else if (!areas.Any())
    {
        <MudText>No se encontraron ßreas!</MudText>
    }
    else
    {
        <MudTable Items="@areas" Dense="true" Bordered="true" Hover="true" Elevation="0">
            <HeaderContent>
                <MudTh>┴rea</MudTh>
                <MudTh>Sede</MudTh>
                <MudTh>Universidad</MudTh>
                <MudTh>Edificios</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="┴rea">
                    <MudLink Href="@($"/areas/mostrar-area/{context.Name.Name}")">@context.Name.Name</MudLink>
                </MudTd>
                <MudTd DataLabel="Sede">@context.Campus.Name.Name</MudTd>
                <MudTd DataLabel="Universidad">@context.Campus.University.Name.Name</MudTd>
                <MudTd DataLabel="Edificios">
                    <MudLink Href="/edificios">Ver</MudLink>
                </MudTd>

            </RowTemplate>
        </MudTable>
    }
</MudPaper>

@code {
    /// <summary>
    /// Collection of area entities to display.
    /// </summary>
    private IEnumerable<Area>? areas;


    /// <summary>
    /// Invoked when the component is initialized.
    /// Loads the list of buildings asynchronously from the repository.
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        areas = await AreasRepository.ListAreaAsync();
    }

    void GoToAddArea()
    {
        NavigationManager.NavigateTo("/areas/agregar-area");
    }
}
