@page "/sedes"

@using UCR.ECCI.PI.ThemePark.Frontend.Blazor.Application.Services
@using UCR.ECCI.PI.ThemePark.Frontend.Blazor.Presentation.Models
@using UCR.ECCI.PI.ThemePark.Frontend.Blazor.Domain.Entities.UniversityManagement
@using UCR.ECCI.PI.ThemePark.Frontend.Blazor.Presentation.Components
@using MudBlazor

@inject ICampusServices CampusRepository
@inject NavigationManager NavigationManager

<Breadcrumbs />

<PageTitle>Administraciˇn de Sedes</PageTitle>

<MudPaper Class="pa-4">

    <div style="display: flex; justify-content: space-between; align-items: center;">
        <MudText Typo="Typo.h5">Administraciˇn de Sedes</MudText>
        <MudButton Variant="Variant.Outlined"
                   Color="Color.Primary"
                   Class="mr-2"
                   OnClick="@GoToAddCampus">
            Agregar
        </MudButton>

    </div>

    @if (campus == null)
    {
        <p><em>Cargando...</em></p>
    }
    else if (!campus.Any())
    {
        <MudText>No se encontraron sedes!</MudText>
    }
    else
    {
        <MudTable Items="@campus" Dense="true" Bordered="true" Hover="true" Elevation="0">
            <HeaderContent>
                <MudTh>Sede</MudTh>
                <MudTh>Ubicaciˇn</MudTh>
                <MudTh>Areas</MudTh>
                <MudTh>Edificios</MudTh>
                <MudTh>Universidades</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Sedes">
                    <MudLink Href="@($"/sedes/mostrar-sede/{context.Name.Name}")">@context.Name.Name</MudLink>
                </MudTd>
                <MudTd DataLabel="┤Ubicaciˇn">@context.Location.Location</MudTd>
                <MudTd DataLabel="Area">
                    <MudLink Href="/areas">Ver</MudLink>
                </MudTd>
                <MudTd DataLabel="Edificio">
                    <MudLink Href="/edificios">Ver</MudLink>
                </MudTd>
                    <MudTd DataLabel="Universidad">@context.University.Name.Name</MudTd>
            </RowTemplate>
        </MudTable>
    }
</MudPaper>

@code {
    /// <summary>
    /// Collection of Campus to display.
    /// </summary>
    private IEnumerable<Campus>? campus;

    protected override async Task OnInitializedAsync()
    {
        campus = await CampusRepository.ListCampusAsync();
    }

    void GoToAddCampus()
    {
        NavigationManager.NavigateTo("/sedes/agregar-sede");
    }
}
